- @user ||= current_user

.stats
  %a(href="#{followings_user_path(@user)}")
    %strong#followings.stat= @user.followed_users.count
    followings
  %a(href="#{followers_user_path(@user)}")
    %strong#followers.stat= @user.followers.count
    followers
